In [67]:
#Load librairies
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import scipy.stats
import seaborn as sns
from scipy.stats import norm

### Sentiment Analysis

In [68]:
#Load data file into a data frame
df = pd.read_csv('DailyComments.csv')
df.head(10)

  Day of Week                                        comments
0      Monday                             Hello, how are you?
1     Tuesday                            Today is a good day!
2   Wednesday  It's my birthday so it's a really special day!
3    Thursday       Today is neither a good day or a bad day!
4      Friday                           I'm having a bad day.
5    Saturday       There' s nothing special happening today.
6      Sunday                      Today is a SUPER good day!

In [69]:
#define the corpus
corpus = df['comments']

In [70]:
# new dataframe with comments as only column
df_1  = pd.DataFrame({'text' : corpus})
df_1.head()

                                             text
0                             Hello, how are you?
1                            Today is a good day!
2  It's my birthday so it's a really special day!
3       Today is neither a good day or a bad day!
4                           I'm having a bad day.

In [71]:
#check for positive words and create a new column positive with the results.
df_1['positive1'] = df_1.text.str.count('good')
df_1.head()

                                             text  positive1
0                             Hello, how are you?          0
1                            Today is a good day!          1
2  It's my birthday so it's a really special day!          0
3       Today is neither a good day or a bad day!          1
4                           I'm having a bad day.          0

In [72]:
#check for positive words and create a new column positive with the results
df_1['positive2']= df_1.text.str.count('special')
df_1.head()

                                             text  positive1  positive2
0                             Hello, how are you?          0          0
1                            Today is a good day!          1          0
2  It's my birthday so it's a really special day!          0          1
3       Today is neither a good day or a bad day!          1          0
4                           I'm having a bad day.          0          0

In [73]:
#check for words words and create a new column negative with the results
df_1['negative'] = df_1.text.str.count('bad')
df_1.head()

,text,positive1,positive2,negative
0,"Hello, how are you?",0,0,0
1,Today is a good day!,1,0,0
2,It's my birthday so it's a really special day!,0,1,0
3,Today is neither a good day or a bad day!,1,0,1
4,I'm having a bad day.,0,0,1

In [74]:
#create a colunn which the summary of positive columns minus the negative to obtain the sentiment score of each row.
df_1['Final_Score'] = df_1.positive1 + df_1.positive2 - df_1.negative
df_1.head()

,text,positive1,positive2,negative,Final_Score
0,"Hello, how are you?",0,0,0,0
1,Today is a good day!,1,0,0,1
2,It's my birthday so it's a really special day!,0,1,0,1
3,Today is neither a good day or a bad day!,1,0,1,0
4,I'm having a bad day.,0,0,1,-1

In [75]:
import twitter

In [77]:
# choosing topic of interest
list1 = api.GetSearch(term='data mining', since=2021-1-1, count=5)

In [78]:
#display all the tweets
all_tweets = [tweet.text for tweet in list1]
all_tweets

['Astounding.\nI still believe these unstable people were found targeted through Facebook/Cambridge Analytica data min… https://t.co/AY80RUtgbJ',
 'RT @MiningInvictus: Would you better buy gold or a gold mine?\n\nInvest in a data center and get a monthly return by mining #cryptocurrencies…',
 'kalau besok pemaparan data mining aku lancar, hari sabtunya aku mau motoran ke solo',
 'RT @MiningInvictus: Would you better buy gold or a gold mine?\n\nInvest in a data center and get a monthly return by mining #cryptocurrencies…',
 'International Journal of Data Mining &amp; Knowledge Management Process\xa0(IJDKP) https://t.co/3RRMv4sTBA']

In [79]:
#parsing tweets
users_infos = [[tweet.created_at, tweet.text] for tweet in list1]
users_infos

[['Sun Sep 26 14:47:17 +0000 2021',
  'Astounding.\nI still believe these unstable people were found targeted through Facebook/Cambridge Analytica data min… https://t.co/AY80RUtgbJ'],
 ['Tue Sep 28 03:35:01 +0000 2021',
  'RT @MiningInvictus: Would you better buy gold or a gold mine?\n\nInvest in a data center and get a monthly return by mining #cryptocurrencies…'],
 ['Tue Sep 28 03:34:57 +0000 2021',
  'kalau besok pemaparan data mining aku lancar, hari sabtunya aku mau motoran ke solo'],
 ['Tue Sep 28 03:34:49 +0000 2021',
  'RT @MiningInvictus: Would you better buy gold or a gold mine?\n\nInvest in a data center and get a monthly return by mining #cryptocurrencies…'],
 ['Tue Sep 28 03:32:19 +0000 2021',
  'International Journal of Data Mining &amp; Knowledge Management Process\xa0(IJDKP) https://t.co/3RRMv4sTBA']]

In [80]:
# Creating a datframe
df_2 = pd.DataFrame(users_infos, columns=['Created', 'Text'])
df_2

,Created,Text
0,Sun Sep 26 14:47:17 +0000 2021,Astounding.\nI still believe these unstable pe...
1,Tue Sep 28 03:35:01 +0000 2021,RT @MiningInvictus: Would you better buy gold ...
2,Tue Sep 28 03:34:57 +0000 2021,"kalau besok pemaparan data mining aku lancar, ..."
3,Tue Sep 28 03:34:49 +0000 2021,RT @MiningInvictus: Would you better buy gold ...
4,Tue Sep 28 03:32:19 +0000 2021,International Journal of Data Mining &amp; Kno...

In [81]:
#check for positive words and create a new column positive with the results.
df_2['positive'] = df_2.Text.str.count('gold')
df_2.head()

,Created,Text,positive
0,Sun Sep 26 14:47:17 +0000 2021,Astounding.\nI still believe these unstable pe...,0
1,Tue Sep 28 03:35:01 +0000 2021,RT @MiningInvictus: Would you better buy gold ...,2
2,Tue Sep 28 03:34:57 +0000 2021,"kalau besok pemaparan data mining aku lancar, ...",0
3,Tue Sep 28 03:34:49 +0000 2021,RT @MiningInvictus: Would you better buy gold ...,2
4,Tue Sep 28 03:32:19 +0000 2021,International Journal of Data Mining &amp; Kno...,0

In [82]:
#check for words words and create a new column negative with the results
df_2['negative'] = df_2.Text.str.count('unstable')
df_2.head()

,Created,Text,positive,negative
0,Sun Sep 26 14:47:17 +0000 2021,Astounding.\nI still believe these unstable pe...,0,1
1,Tue Sep 28 03:35:01 +0000 2021,RT @MiningInvictus: Would you better buy gold ...,2,0
2,Tue Sep 28 03:34:57 +0000 2021,"kalau besok pemaparan data mining aku lancar, ...",0,0
3,Tue Sep 28 03:34:49 +0000 2021,RT @MiningInvictus: Would you better buy gold ...,2,0
4,Tue Sep 28 03:32:19 +0000 2021,International Journal of Data Mining &amp; Kno...,0,0

In [83]:
#create a colunn which the summary of positive columns minus the negative to obtain the sentiment score of each row.
df_2['Final_Score'] = df_2.positive - df_2.negative
df_2.head()

,Created,Text,positive,negative,Final_Score
0,Sun Sep 26 14:47:17 +0000 2021,Astounding.\nI still believe these unstable pe...,0,1,-1
1,Tue Sep 28 03:35:01 +0000 2021,RT @MiningInvictus: Would you better buy gold ...,2,0,2
2,Tue Sep 28 03:34:57 +0000 2021,"kalau besok pemaparan data mining aku lancar, ...",0,0,0
3,Tue Sep 28 03:34:49 +0000 2021,RT @MiningInvictus: Would you better buy gold ...,2,0,2
4,Tue Sep 28 03:32:19 +0000 2021,International Journal of Data Mining &amp; Kno...,0,0,0